code/sims/archived
code/supplemental-sims/archived
code/case-study-1/archived
code/case-study-2/archived
compile
compile-pred
NOTE.txt
documents
figures
data/BBS
bbs-raw-data.rda
BCR_Terrestrial
results/case-study-1
results/case-study-2
results/supplemental-sims
results/
tmp.R
data/tree/
get-tmp-samples
data/case-study-1/bbs-2022/
data/case-study-1/bbs-raw-data.rda
data/case-study-1/BCR_Terrestrial/
data/case-study-1/bird-life-data.rda
data/case-study-1/bird-life-processed.rda
data/case-study-2/yearly-lulc
data/case-study-2/species-BirdLife-ranges.rda
data/archived/
code/archived/
